doctype html
html
  head
    title Időjárás
    link(rel="stylesheet" href="./css/bootstrap.min.css")
    link(rel="stylesheet" href="./css/bootstrap-icons.css")
    script(src="./js/bootstrap.min.js")
    script(src="./js/jquery.slim.min.js")
  body
    .container
      header.p-3.mb-3.border-bottom
        i.bi-cloud-sun(style="font-size: 2rem;")
        span.fs-4.fw-bold Időjárás

    div.container
      block content
