doctype html
html
  head
    title= i18n.views.index.title
    link(rel="stylesheet" href="./css/bootstrap.min.css")
    link(rel="stylesheet" href="./css/bootstrap-icons.css")
    script(src="./js/bootstrap.bundle.min.js")
    script(src="./js/jquery.slim.min.js")
    script(src="./js/language.js")
  body
    .container
      header.p-3.mb-3.border-bottom
        .row
          .col-lg-6
            i.bi-cloud-sun(style="font-size: 2rem;")
            span.fs-4.fw-bold= i18n.views.index.title
          .col-lg-6.text-end
            .dropdown
              button.btn.btn-light.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                i.bi-translate(style="font-size: 1rem;")
              ul.dropdown-menu
                li
                  a.dropdown-item(href="#" onclick="changeLanguage('hu')") Magyar
                  a.dropdown-item(href="#" onclick="changeLanguage('en')") English


    div.container
      block content
